*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1%;

  background-image: url(https://img.freepik.com/free-vector/website-development-banner_33099-1687.jpg);
}






.navbar{
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(49, 73, 209);
  align-items: center;
  margin-top: 34px;
  
}

/* .links{
  color: white;
  
} */

a{
  color: white;
  text-align: justify;
  margin-right: 3px;
}
img{
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

.links{
  display: flex;
  gap: 23px;
}

.links a{
  text-decoration: none;
  text-transform: capitalize;

}