*{
    margin: 0;
    padding: 0;
}


.main-container{
    background-color: brown;
    display: flex; 
}

.navbar{
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    /* height: 30px; */
}


.navbar a{
  text-decoration: none;
}
