*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
}



/* Left Container CSS */
.left-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 45%;
}

.left-container input{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 15px;
    padding-left: 6px;
    height: 30px;
    width: 40%;
    border-radius: 5px;
}

.left-container img{
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-top: 30px;
}

.left-container button{
    margin: 20px;
    height: 60px;
    width: 25%;
    border-radius: 30px;
    background-color:rgb(63, 95, 199);
    color: white;
}

.left-container button:hover{
    cursor: pointer;
    background-color: rgb(46, 69, 145);
}



/* Right Container CSS */
.right-container{
    width: 55%;
    background-color: rgb(36, 82, 207);
    /* color: white; */
    display: flex;
    justify-content: center;
}

/* .right-container div{
color: white;
margin-top: 50px;
padding: 20px;
} */
.content{
    color: white;
    margin-top: 100px;
    padding: 80px;
}



/* Footnote CSS */
.footnote{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.footnote img{
    height: 48px;
    width: 60px;
    /* overflow: auto; */
}
